<div class="w-1/2 pl-2">
    <div class="border p-2 mb-4 dark:border-gray-700">
        <div class="bg-blue-600 text-white px-4 py-2 flex justify-between items-center">
            <div>OVERRIDE</div>
            <div>
                <button   class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-1 px-4 rounded mr-2">RESET OPTIONS</button>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-2 mb-2">
            <select class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="Grade" @bind="GradeDropdown">
                <option value="volvo">Grade</option>
            </select>
        </div>
        <div class="grid grid-cols-3 gap-2 mb-2">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="ID" @bind="ID">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="ID (+)" @bind="IDPlus">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="ID (-)" @bind="IDMinus">
        </div>
        <div class="grid grid-cols-3 gap-2 mb-2">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="OD" @bind="OD">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="OD (+)" @bind="ODPlus">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="OD (-)" @bind="ODMinus">
        </div>
        <div class="grid grid-cols-3 gap-2 mb-2">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="Length" @bind="Length">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="Length (+)" @bind="LengthPlus">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="Length (-)" @bind="LengthMinus">
        </div>
        <div class="grid grid-cols-3 gap-2 mb-2">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="IDChamferAngle" @bind="IDChamferAngle">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="IDChamferAngle(+)" @bind="IDChamferAnglePlus">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="IDChamferAngle(-)" @bind="IDChamferAngleMinus">
        </div>
        <div class="grid grid-cols-3 gap-2 mb-2">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="IDChamferDistance" @bind="IDChamferDistance">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="IDChamferDistance(+)" @bind="IDChamferDistancePlus">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="IDChamferDistance(-)" @bind="IDChamferDistanceMinus">
        </div>
        <div class="grid grid-cols-3 gap-2 mb-2">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="ODChamferAngle" @bind="ODChamferAngle">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="ODChamferAngle(+)" @bind="ODChamferAnglePlus">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="ODChamferAngle(-)" @bind="ODChamferAngleMinus">
        </div>
        <div class="grid grid-cols-3 gap-2 mb-2">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="IDChamferDistance" @bind="IDChamferDistance">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="IDChamferDistance(+)" @bind="IDChamferDistancePlus">
            <input class="border p-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="IDChamferDistance(-)" @bind="IDChamferDistanceMinus">
        </div>
        <input class="border p-2 w-full my-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="Quantity:">
        <textarea class="border p-2 w-full my-2 dark:bg-gray-700 dark:text-white dark:border-gray-600" placeholder="Extra Comments:"></textarea>
        <button class="bg-blue-600 text-white px-4 py-2 w-full dark:bg-blue-800">Add to Quote</button>
    </div>
</div>

@code {
    string GradeDropdown { get; set; }
    string DiameterDropdown { get; set; }
    string Length { get; set; }
    string LengthPlus { get; set; }
    string LengthMinus { get; set; }
    string ID { get; set; }
    string IDPlus { get; set; }
    string IDMinus { get; set; }
    string OD { get; set; }
    string ODPlus { get; set; }
    string ODMinus { get; set; }
    string IDChamferAngle { get; set; }
    string IDChamferAnglePlus { get; set; }
    string IDChamferAngleMinus { get; set; }
    string IDChamferDistance { get; set; }
    string IDChamferDistancePlus { get; set; }
    string IDChamferDistanceMinus { get; set; }
    string ODChamferAngle { get; set; }
    string ODChamferAnglePlus { get; set; }
    string ODChamferAngleMinus { get; set; }
    string ODChamferDistance { get; set; }
    string ODChamferDistancePlus { get; set; }
    string ODChamferDistanceMinus { get; set; }

}