@using AtlasConfigurator.Models.Auth
@using AtlasConfigurator.Services
@using AtlasConfigurator.Workers
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@inject ThemeService ThemeService
@inject WorkOsAuthService AuthService
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor


<nav class="bg-gray-900 border-gray-900 dark:bg-gray-900 dark:border-gray-700 px-4 py-2.5 rounded">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="/" class="flex items-center">
            <img src="https://www.atlasfibre.com/wp-content/uploads/2023/03/logo.png" class="mr-3 h-6 sm:h-9" alt="AtlasFibre Logo" />
        </a>
        <div class="flex items-center">
            @if (isUserLoggedIn)
            {
                <button @onclick="Logout" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" aria-label="Logout">
                    Logout
                </button>
            }
            else
            {
                <NavLink class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="/login" aria-label="Login">
                    Login
                </NavLink>
            }
            <button @onclick="() => ThemeService.ToggleThemeAsync()" class="p-2 w-10 h-10 text-sm rounded-lg focus:outline-none focus:ring-2 dark:focus:ring-gray-600" aria-label="Toggle theme">
                <span class="sr-only">Toggle theme</span>
                @if (ThemeService.IsDarkTheme)
                {
                    <svg class="w-5 h-5 text-white" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v2m0 14v2m9-9h-2M5 12H3m14.93 6.42l-1.4-1.4M6.34 6.34l-1.4 1.4m12.02 1.4l1.4-1.4M6.34 17.66l1.4 1.4M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                }
                else
                {
                    <svg class="w-5 h-5 text-gray-400 dark:text-white" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path></svg>
                }
            </button>
        </div>
    </div>
</nav>


@code {
    private bool isMenuOpen = false;
    private bool isUserLoggedIn = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {

    }


    private async Task CheckAuthentication()
    {
        var httpContext = HttpContextAccessor.HttpContext;
        var ipAddress = httpContext?.Connection?.RemoteIpAddress?.ToString();
        var userAgent = httpContext?.Request?.Headers["User-Agent"].ToString();
        var status = await AuthService.IsUserAuthenticated(ipAddress, userAgent);
        if (status == AuthenticationStatus.Authenticated)
        {
            isUserLoggedIn = true;
        }

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await CheckAuthentication();
            await ThemeService.InitializeThemeAsync();
            ThemeService.OnChange += StateHasChanged;
            StateHasChanged();
        }
    }
    public void Dispose()
    {
        ThemeService.OnChange -= StateHasChanged;
    }
    private async Task Logout()
    {
        AuthService.Logout();
        NavigationManager.NavigateTo("/login", forceLoad: true);
    }
}
