@using AtlasConfigurator.Workers
@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@inject ThemeService ThemeService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="flex flex-col h-screen main-container @(ThemeService.IsDarkTheme ? "dark" : "")">
    <NavMenu />

    <article class="flex-grow pt-4 px-4 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-200">
        @Body
    </article>
</div>

<div id="blazor-error-ui" class="hidden fixed top-0 right-0 p-4 bg-red-600 text-white border-l-4 border-red-700">
    <span>An unhandled error has occurred.</span>
    <a href="" class="underline">Reload</a>
    <button class="dismiss" onclick="document.getElementById('blazor-error-ui').style.display='none'">×</button>
</div>
@code {
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }
    private bool themeInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!themeInitialized)
        {
            await ThemeService.InitializeThemeAsync();
            themeInitialized = true; // Prevent re-initialization
        }
    }
    private async void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        // Update a state variable here if necessary
        await JSRuntime.InvokeVoidAsync("applyThemeDirectly");
        StateHasChanged(); // Use with caution
    }

    public void Dispose()
    {
        // Don't forget to unsubscribe to prevent memory leaks
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
}